<%= form_for(@chass) do |f| %>
  <% if @chass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chass.errors.count, "error") %> prohibited this chass from being saved:</h2>

      <ul>
      <% @chass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
